{% extends 'catalog/base.html' %}
{% block content %}
<!--=====================
          Content
======================-->
<section class="content">
    <div class="ic">More Website Templates @ TemplateMonster.com - July 30, 2014!</div>
    <div class="container">
        <div class="row">
            <div class="grid_7">
                <div class="blog">
                    <div class="blog_title"><a href="#">Hivamus at magna non nuncerto limonit </a></div>
                    <img src="/static/images/page4_img1.jpg" alt="">
                    <p>Rehoncus. Aliquam nibh antegestas id ictum ado. Praesenterto faucibus maleada faucibusnec
                        laeetert metus id laoreet. </p>
                    <p>Nullam consectetur orci sed nulla facilisisequaterto. Curabitur vel lorem sit amet nulla
                        perermentum. Aliquam nibh ante, egestas id dictum a, commodo luctus libero. Raesent faucibus
                        malesuada faucibus. Donecertolin laoreet metus id laoreet malesuadarem ipsum dolor sit amet,
                        consectetur adipiscing elit. Nullam consectetur orci sed nulla facilisis consequat. </p>
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <time datetime="2014-01-01">
                                    <span class="fa fa-calendar"></span>
                                    January 20, 2014
                                </time>
                            </td>
                            <td><a href="#">
                                <div class="fa fa-user"></div>
                                Admin</a></td>
                            <td><a href="#"><span class="fa fa-link"></span> Permalink</a></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="fa fa-bookmark"></div>
                                Uncategorized
                            </td>
                            <td colspan="2">
                                <div class="fa fa-tag"></div>
                                No tags
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="fa fa-comments"></div>
                                No commentts
                            </td>
                            <td colspan="2">
                                <div class="fa fa-eye"></div>
                                182
                                <div class="fa fa-thumbs-up"></div>
                                0
                                <div class="fa fa-thumbs-down"></div>
                                0
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="#" class="btn">more</a>
                </div>
                <div class="blog">
                    <div class="blog_title"><a href="#">Givamus at magna non nuncerto limonit </a></div>
                    <img src="/static/images/page4_img2.jpg" alt="">
                    <p>Johoncus. Aliquam nibh antegestas id ictum ado. Praesenterto faucibus maleada faucibusnec
                        laeetert metus id laoreet wer.</p>
                    <p>Ollam consectetur orci sed nulla facilisisequaterto. Curabitur vel lorem sit amet nulla
                        perermentum. Aliquam nibh ante, egestas id dictum a, commodo luctus libero. Raesent faucibus
                        malesuada faucibus. Donecertolin laoreet metus id laoreet malesuadarem ipsum dolor sit amet,
                        consectetur adipiscing elit. Nullam consectetur orci sed nulla facilisis consequat. </p>
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <time datetime="2014-01-01">
                                    <span class="fa fa-calendar"></span>
                                    January 20, 2014
                                </time>
                            </td>
                            <td><a href="#">
                                <div class="fa fa-user"></div>
                                Admin</a></td>
                            <td><a href="#"><span class="fa fa-link"></span> Permalink</a></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="fa fa-bookmark"></div>
                                Uncategorized
                            </td>
                            <td colspan="2">
                                <div class="fa fa-tag"></div>
                                No tags
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="fa fa-comments"></div>
                                No commentts
                            </td>
                            <td colspan="2">
                                <div class="fa fa-eye"></div>
                                182
                                <div class="fa fa-thumbs-up"></div>
                                0
                                <div class="fa fa-thumbs-down"></div>
                                0
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="#" class="btn">more</a>
                </div>
                <div class="blog">
                    <div class="blog_title"><a href="#">At magna non nuncerto limonit nelowert </a></div>
                    <img src="/static/images/page4_img3.jpg" alt="">
                    <p>Aliquam nibh antegestas id ictum ado. Praesenterto faucibus maleada faucibusnec laeetert metus id
                        laoreet </p>
                    <p>Nullam consectetur orci sed nulla facilisisequaterto. Curabitur vel lorem sit amet nulla
                        perermentum. Aliquam nibh ante, egestas id dictum a, commodo luctus libero. Raesent faucibus
                        malesuada faucibus. Donecertolin laoreet metus id laoreet malesuadarem ipsum dolor sit amet,
                        consectetur adipiscing elit. Nullam consectetur orci sed nulla facilisis consequater. </p>
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <time datetime="2014-01-01">
                                    <span class="fa fa-calendar"></span>
                                    January 20, 2014
                                </time>
                            </td>
                            <td><a href="#">
                                <div class="fa fa-user"></div>
                                Admin</a></td>
                            <td><a href="#"><span class="fa fa-link"></span> Permalink</a></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="fa fa-bookmark"></div>
                                Uncategorized
                            </td>
                            <td colspan="2">
                                <div class="fa fa-tag"></div>
                                No tags
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="fa fa-comments"></div>
                                No commentts
                            </td>
                            <td colspan="2">
                                <div class="fa fa-eye"></div>
                                182
                                <div class="fa fa-thumbs-up"></div>
                                0
                                <div class="fa fa-thumbs-down"></div>
                                0
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="#" class="btn">more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="form_block">
    <div class="container">
        <div class="row">
            <div class="grid_11">
                <h2>Здесь можно написать статьи о здоровье и здоровом питании</h2>
                <form id="form" action="/mail/MailHandler.php" method="POST" enctype="multipart/form-data">
                    <div class="form_spinner">
                        <img src="/static/images/Preloader_4.gif" alt="">
                    </div>
                    <div class="modal fade response-message">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title">Modal title</h4>
                                </div>
                                <div class="modal-body">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="response-error-message"></div>
                    <label class="name">
                        <input type="text" name="headline" placeholder="Заголовок статьи:"/>
                        <span class="empty-message">*This field is required.</span>
                        <span class="error-message">*This is not a valid name.</span>
                    </label>
                    <label class="image">
                        <input type="file" name="imageUpload" id="imageUpload" accept="image/blog">
                    </label>
                    <label class="message">
                        <textarea name="content" placeholder="Содержание:"></textarea>
                        <span class="empty-message">*This field is required.</span>
                        <span class="error-message">*The message is too short.</span>
                    </label>
                    <div class="clear"></div>
                    <div class="btns">
                        <a href="#" data-type="reset" class="btn">Отчистить</a>
                        <a href="#" data-type="submit" class="btn">Отправить</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

